body {
    background-color: #32292F;
}

/*********************/
/* BACKGROUND IMAGE */
/*********************/
.bg-img img{
    position: fixed;
    opacity: .8;
    width: 100%;
    left: 0;
    top: -40vh;
    z-index: 0;
}

/************/
/* NAV BAR */
/************/
.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding: 30px 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    align-items: center;
    z-index: 1000;
}

.nav-bar ul {
    display: flex;
    float: right;
    margin-right: 2vw;
}

.nav-bar ul li {
    list-style: none;
    margin-left: 20px;
}

.nav-bar ul li a {
    background-color: #32292F;
    text-decoration: none;
    padding: 10px 15px;
    color: #70ABAF;
    border-radius: 25px;
}

.nav-bar ul li a:hover,
.nav-bar ul li a.active {
    background: #70ABAF;
    color: #F0F7F4;
}

/***************/
/* TITLE NAME */
/***************/
.title-section, .project {
    border-radius: 15px;
    border: solid 2px #70ABAF;
    background-color: #32292F;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #70ABAF;
    display: flex;
    opacity: .95;
    z-index: 2;
    width: 90%;
    /* top: 15vh; */
    top: 90px;
}

.title-section {
    margin-bottom: -10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
}

.projects div {
    justify-content: center;
    margin: 25px auto auto auto;
}

.project {
    margin-top: 25px;
    padding-top: 5px;
    /* justify-content: space-between; */
    /* width: 85%; */
}

.project div {
    margin: 0px auto -2px 25px;
}

/* ****** */
/* ABOUT */
/* ****** */
.about {
    padding: 15px 45px 25px 45px;
    /* margin: 25px; */
}

.about h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4em;
}

.about hr {
    color: #70ABAF;
    border: 1.1px solid;
    border-radius: 5px;
}

.about li {
    padding-bottom: 15px;
}

.about a {
    color: #70ABAF;
}

/********************/
/* CAROUSEL IMAGES */
/********************/
.thumbnail {
    position: relative;
    /* height: 600px;
    width: 80%; */
    height: 100%;
    margin: 0 auto;
}

.carousel__slide img {
    width: 460px;
    height: 265px;
    border-radius: 5px;
}

.carousel__slide:hover img {
    transform: scale(1.01);
}

.carousel__track-container {
    background: #70ABAF;
    /* height: 80%;
    width: 60%; */
    width: 460px;
    height: 265px;
    position: relative;
    border: 2px solid #70ABAF;
    border-radius: 5px;
    overflow: hidden;
}

.carousel__track, .carousel__track-2, .carousel__track-3 {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    /* background: #70ABAF; */
    /* border: 2px solid #70ABAF; */
    /* border-radius: 5px; */
    border: none;
    height: 40px;
    width: 5px;
    color: #70ABAF;
    /* color: #F0F7F4; */
    cursor: pointer;
}

.carousel__button:hover {
    /* background: #70ABAF; */
    color: #F0F7F4;
}

.carousel__button--left, .carousel__button-2--left, .carousel__button-3--left {
    left: -13px;
    padding-right: 35px;
}

.carousel__button--right, .carousel__button-2--right, .carousel__button-3--right {
    right: -40px;
    padding-right: 37px;
}

.carousel__button svg {
    width: 30px;
    height: 30px;
}

.carousel__nav, .carousel__nav-2, .carousel__nav-3 {
    /* background: pink; */
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 8px;
    height: 10px;
    background: #F0F7F4;
    margin: 2px 12px;
    cursor: pointer;
}

.carousel__indicator.current-slide {
    background: #70ABAF;
}

.is-hidden {
    display: none;
}

/***************/
/* POP IMAGE */
/***************/
.popup-img {
    position: fixed; 
    top: 0; left: -2vw;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    display: none;
}

#project-2, #project-3, .nav-bar {
    z-index: 0;
}

.popup-img span {
    position: absolute;
    top: 5px; right: 25px;
    font-size: 50px;
    font-weight: bolder;
    color: #F0F7F4;
    cursor: pointer;
}

.popup-img img {
    /* position: absolute; */
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #F0F7F4;
    border-radius: 5px;
    height: 80%;
    width: 70%;
}


/* ******* */
/* FOOTER */
/* ******* */
body .footer {
    justify-content: center;
    margin: 45px auto auto auto;
    margin-bottom: 115px;
    width: 90%;
}

.footer {
    border: solid 2px #70ABAF;
    background-color: #32292F;
    border-radius: 15px;
    color: #70ABAF;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .95;
    top: 12vh;
    margin: 10px;
}

.footer h4 {
    float: right;
    padding-right: 10px;
    display: flex;
    padding-left: 10px;
}

.footer a {
    text-decoration: none;
    color: #70ABAF;
    font-size: 1.2em;
}


/********************************/
/* RESPONSIVE FOR MOBILE */
/********************************/
@media screen and (max-width: 1024px) {

    .nav-bar {
        padding: 30px 0px 30px 100px;
    }

    .bg-img img{
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0vh;
    }

    .project {
        display: grid;
    }

    .project div {
        justify-content: center;
        margin: auto;
    }

    .project .thumbnail {
        margin-top: 25px;
    }

    .popup-img {
        top: 0; left: 0;
        height: 100%;
        width: 100%;
    }

    .popup-img img {
        height: 75%;
        width: 75%;
    }

    .carousel__button--left, .carousel__button-2--left, .carousel__button-3--left {
        left: -38px;
        padding-right: 35px;
        margin-top: -25px;
    }

    .carousel__button--right, .carousel__button-2--right, .carousel__button-3--right {
        right: -40px;
        padding-right: 37px;
        margin-top: -25px;
    }
}

@media screen and (max-width: 912px) {

    .title-section, .project {
        /* top: 7vh; */
        top: 90px;
    }

    .footer {
        top: 6vh;
    }

    .popup-img img {
        height: 45%;
        width: 95%;
    }

}

@media screen and (max-width: 768px) {

    .popup-img img {
        height: 40%;
    }

}

/* IPHONE 6/7/8 PLUS LANDSCAPE */
@media screen and (min-width: 721px) and (max-width: 736px) {


}


/* SURFACE DUO LANDSCAPE */
@media screen and (min-width: 669px) and (max-width: 720px) {


}


/* IPHONE 6/7/8 LANDSCAPE */
@media screen and (min-width: 655px) and (max-width: 668px) {


}

/* GALAXY FOLD LANDSCAPE */
@media screen and (min-width: 642px) and (max-width: 654px) {


}


/* GALAXY S5 LANDSCAPE */
@media screen and (min-width: 569px) and (max-width: 641px) {


}


/* IPHONE 5/SE LANDSCAPE */
@media screen and (min-width: 541px) and (max-width: 568px) {


}


/* SURFACE DUO PORTRAIT */
@media screen and (min-width: 416px) and (max-width: 540px) {

    .nav-bar {
        padding: 20px 0px 20px 0px;
        margin-left: -50px;
    }

    .title-section, .project {
        top: 70px;
        width: 95%;
    }

    .carousel__slide img {
        width: 400px;
        height: 205px;
    }

    .carousel__track-container {
        width: 400px;
        height: 205px;
    }

    body .footer {
        margin-bottom: 100px;
        width: 95%;
    }

}

/* IPHONE 6/7/8 PLUS */
/* PIXEL 2 XL & PIXEL 2 */
@media screen and (min-width: 395px) and (max-width: 415px) {

    .nav-bar {
        padding: 20px 0px 20px 0px;
        margin-left: 30px;
    }

    .title-section, .project {
        top: 90px;
        width: 123%;
    }

    .carousel__slide img {
        width: 380px;
        height: 185px;
    }

    .carousel__track-container {
        width: 380px;
        height: 185px;
    }

    .popup-img img {
        height: 25%;
    }

    body .footer {
        margin-bottom: 100px;
        width: 123%;
    }

}


/* IPHONE X */
/* IPHONE 6/7/8 */
@media screen and (min-width: 377px) and (max-width: 394px) {

    .nav-bar {
        padding: 20px 0px 20px 0px;
        margin-left: 50px;
    }

    .title-section, .project {
        /* top: 8vh; */
        top: 70px;
        width: 130%;
    }

    .carousel__slide img {
        width: 380px;
        height: 185px;
    }

    .carousel__track-container {
        width: 380px;
        height: 185px;
    }

    .popup-img img {
        height: 25%;
    }

    body .footer {
        margin-bottom: 100px;
        width: 130%;
    }

}

/* MOTO G4 */
/* GALAXY S5 */
@media screen and (min-width: 362px) and (max-width: 376px) {

    .nav-bar {
        padding: 20px 0px 20px 0px;
        margin-left: 60px;
    }

    .title-section, .project {
        /* top: 8vh; */
        top: 70px;
        width: 137%;
    }

    .carousel__slide img {
        width: 380px;
        height: 185px;
    }

    .carousel__track-container {
        width: 380px;
        height: 185px;
    }

    .popup-img img {
        height: 25%;
    }

    body .footer {
        margin-bottom: 100px;
        width: 137%;
    }

}


/* IPHONE 5/SE */
@media screen and (min-width: 281px) and (max-width: 361px) {

    .nav-bar {
        padding: 20px 0px 20px 0px;
        margin-left: 75px;
    }

    .title-section, .project {
        /* top: 8vh; */
        top: 70px;
        width: 144%;
    }

    .carousel__slide img {
        width: 380px;
        height: 185px;
    }

    .carousel__track-container {
        width: 380px;
        height: 185px;
    }

    .popup-img img {
        height: 25%;
    }

    body .footer {
        margin-bottom: 100px;
        width: 144%;
    }

}


/* GALAXY FOLD */
@media screen and (max-width: 280px) {

    .nav-bar {
        padding: 20px 0px 20px 0px;
        margin-left: 135px;
    }

    .title-section, .project {
        /* top: 8vh; */
        top: 70px;
        width: 184%;
    }

    .carousel__slide img {
        width: 380px;
        height: 195px;
    }

    .carousel__track-container {
        width: 380px;
        height: 195px;
    }

    .popup-img img {
        height: 25%;
    }

    body .footer {
        margin-bottom: 100px;
        width: 184%;
    }

}